.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.toggleText {
  cursor: pointer;
  color: var(--color-primary);
}

.wrapper {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 15px;
}
